.wrapper {
    position: relative;
    background-color: #fff;
    padding: 9px 42px 9px 9px;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 50%;
    width: fit-content;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.own {
    background-color: #d8f5d3;
    align-self: flex-end;
}

.time {
    position: absolute;
    bottom: 7px;
    right: 7px;
    color: #8a969c;
    font-size: 10px;
}
